.cardContainer{
    background-color: #EFEFEF;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

/* /#EFEFEF */

.cardLayout{
    background-color: #EFEFEF;
    height: 100vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.selectBoxArea{
    height: 70vh;
    width: 100vw;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: #b088ff;
    border-radius: 20px;
    box-shadow: 
        10px 10px 25px rgba(0, 0, 0, 0.3),
        -5px -5px 15px rgba(0, 0, 0, 0.2);

    height: 50vh;
    width: 270px;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    position: relative; 
    overflow: hidden;
    
}

.card img{
    /* width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    border:  solid #000000;
    box-shadow: 
        10px 10px 25px rgba(0, 0, 0, 0.3),
        -5px -5px 15px rgba(0, 0, 0, 0.2);
    
} */

    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 50%; 
    object-fit: cover; 
    border-radius: 20px 20px 0 0;
    border-bottom: solid black ;
}

.card h2{
    margin-top: 80% ;
}
.card p {
    padding: 0 12px;
    line-height: 1;
}

.card:hover{
    transform: translateY(-10px) scale(1.05); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); 
    transition: all 0.3s ease;
}
